
<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">    
    <a href="@urlInstituto">
        <img src="@Instituto.Imagen" alt="Poster" style="width:225px; height: 300px;"/>
    </a>
    <p style="max-width: 225px; height:44px; font-size: 15px; font-weight: bold;">
        <a href="@urlInstituto">@Instituto.TituloCortado</a>
</p>
    <div>
        <a class="btn btn-info">Editar</a>
        <button type="button" class="btn btn-danger" @onclick="@(()=>EliminarInstitutoHIJO.InvokeAsync(Instituto))">
            Borrar
        </button>
    </div>
</div>

@code{    
    [Parameter] public Instituto Instituto { get; set;}
    [Parameter] public bool MostrarBotones { get; set; } = false;
    [Parameter] public EventCallback<Instituto> EliminarInstitutoHIJO { get; set; }

    //para construir la URL vamos a usar el protected
    private string urlInstituto = string.Empty;
    protected override void OnInitialized()
    {
        urlInstituto = $"instituto/";
    }
}
